html, body {
  height:100%;
  color: rgb(210, 210, 210);
  background-color: #181818;
  font-family: 'Roboto',sans-serif;
}

footer {
    position: absolute;
    height: 60px;
    bottom: 0;
    width: 100%;
}

.follou-logo {
  font-family: 'Play', sans-serif;
}

.content {
  margin-top: 80px;
}

@media screen and (max-width: 500px){
  .content {
    margin-top: 65px;
  }
}

.navbar-header {
  float: left;
}

.navbar-right {
  float: right!important;
  margin-right: 0px;
}
