html, body {
  height:100%;
  color: rgb(160, 160, 160);
  background-color: #181818;
  font-family: 'Roboto',sans-serif;
}

footer {
    position: absolute;
    height: 60px;
    bottom: 0;
    width: 100%;
}
