.box {
    border: 1px solid #181818;
    background-color: #262626;
}

.box:hover {
    border: 1px solid #262626;
    background-color: #262626;
}

.box a {
    text-decoration: none;
    color: #CFCFCF;
}
.box a:hover {
    text-decoration: none;
    color: #DEDEDE;
}

.box a img {
    width: 100%;
}

.title {
    padding: 15px;
    text-align: center;
}

.playlist {
    padding: 6px 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 1200px){
    .playlist {
        width: 33.33333%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 750px){
    .playlist {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .playlist {
        width: 100%;
    }
}
