.box {
    border: 1px solid #181818;
    background-color: #262626;
}

.box:hover {
    border: 1px solid #262626;
    background-color: #262626;
}

.box a {
    text-decoration: none;
    color: #CFCFCF;
}
.box a:hover {
    text-decoration: none;
    color: #DEDEDE;
}

.box a img {
    width: 100%;
}

.title {
    padding: 15px;
}

.playlist {
    padding: 6px 6px;
    float: left;
    width: 24.99999%;
}

.playlist .box .title p {
    overflow: hidden;
    margin: 0;
    display: -webkit-box;
    max-height: 20px;
    -webkit-line-clamp: 1;
    text-align: -webkit-center;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.playlists .content .container h1 {
    margin-bottom: 30px
}
@media only screen and (max-width: 1200px){
    .playlist {
        width: 33.33333%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 750px){
    .playlist {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .playlist {
        width: 100%;
    }
}
