.box {
    background-color: #262626;
}

.box a {
    text-decoration: none;
    color: #CFCFCF;
}
.box a:hover {
    text-decoration: none;
    color: #E7E7E7;
}

.box a img {
    width: 15.4vw;
    height: 15.4vw;
}

.title {
    padding: 15px;
    max-width: 15.4vw;
}

.playlist {
    padding: 6px;
    float: left;
}

.playlist .box .title p {
    overflow: hidden;
    margin: 0;
    display: -webkit-box;
    max-height: 20px;
    -webkit-line-clamp: 1;
    text-align: -webkit-center;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.playlists .content h1 {
    margin-bottom: 30px
}

@media only screen and (max-width: 1540px){
    .box a img {
        width: 18.4vw;
        height: 18.4vw;
    }
    
    .title {
        padding: 15px;
        max-width: 18.4vw;
    }
}

@media only screen and (max-width: 1315px){
    .box a img {
        width: 22.8vw;
        height: 22.8vw;
    }
    
    .title {
        padding: 15px;
        max-width: 22.8vw;
    }
}

@media only screen and (max-width: 1060px){
    .box a img {
        width: 29.8vw;
        height: 29.8vw;
    }
    
    .title {
        padding: 15px;
        max-width: 29.8vw;
    }
}

@media only screen and (max-width: 765px){
    .box a img {
        width: 43.1vw;
        height: 43.1vw;
    }
    
    .title {
        padding: 15px;
        max-width: 43.1vw;
    }
}
@media only screen and (max-width: 500px){
    .box a img {
        width: 100vw;
        height: 100vw;
    }
    
    .title {
        padding: 15px;
        max-width: 100vw;
    }
}
